<div>
    <h3>APIs</h3>
    <div>
        <ul class="nav nav-tabs" style="margin-bottom:0;">
            <li class="active"><a href="#classes" data-toggle="tab">Classes</a></li>
            <li><a href="#modules" data-toggle="tab">Modules</a></li>
        </ul>

        <div id="api-tabview-filter">
            <input type="search" id="api-filter" placeholder="Type to filter APIs">
        </div>

        <div id="api-tab-content" class="tab-content">
            <div class="tab-pane active" id="classes">
                <ul class="unstyled" style="margin-left:10px;">
                    {{#classes}}
                        <li><a href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
                    {{/classes}}
                </ul>
            </div>

            <div class="tab-pane" id="modules">
                <ul class="unstyled" style="margin-left:10px;">
                    {{#allModules}}
                        <li><a href="{{../projectRoot}}modules/{{name}}.html">{{displayName}}</a></li>
                    {{/allModules}}
                </ul>
            </div>
        </div>
    </div>
</div>
